---

# server
secrets:
  - 72f3aff25cd81bb7a729c595a746b4575e168371
master_key: equal runway into girl sell clown marriage museum hurdle trim what service swift pulse adjust hover achieve burst bread fog maze cream because phone
account: 0

# client
signer_host: 127.0.0.1
signer_port: 3000

